ignore-scripts=true                           
only-built-dependencies[]=esbuild             
resolution-mode=highest                   
prefer-frozen-lockfile=true                   
save-exact=true                               
registry=https://registry.npmjs.org/          
always-auth=true                              
strict-ssl=true                                           
clean=true                                    
prefer-offline=true                           
engine-strict=true  
audit-level=high                              
fund=false                                    
loglevel=warn                                 
